<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../loginform.css">
</head>
<body>
    
    <form action="/auth/register" method="POST" >
        <h1>register form</h1>
        
        <label for="">username :</label>
        <input type="text" name="username"><br>
        <label for="">email :</label>
        <input type="email" name="email"><br>
        <label for="">password :</label>
        <input type="password" name="password"><br>

        <input type="submit" value="register">
        <%- include('../components/validator_err.ejs') -%>
    </form>
</body>
</html>
</body>
</html>